<!DOCTYPE html>
<html>
    <head>
        <title>Piece of Cake | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
    <header class="main-header">
      <nav class="nav main-nav">
        <li>
          <p><a class="link" href="/">Home</a></p>
        </li>
        <li>
          <p><a class="link" href="/about">About</a></p>
        </li>
        {{#if loggedIn}}
          <li>
            <p><a class="link" href="/store">Store</a></p>
          </li>
          <li>
            <p><button id="logout-btn" class="btn-no-style">Logout</button> </p>
          </li>

        {{else}}
          <li>
            <p><a class="link" href="/login">Login</a></p>
          </li>
        {{/if}}
      </nav>
      <h1 class="store-name store-name-large">Piece of Cake</h1>
      <div class="text-center">
        <a href="/store"><button type="button" class="btn btn-header" id="buy-products">Buy Our Products</button></a>
      </div>
    </header>
        <section class="content-section container">
            <h2 class="section-header">ABOUT</h2>
            <p>From the beginning, Piece of Cake Bakery is known as bakery unique for our amazingly made cupcakes and cakes. We take pride in using natural ingredients in our cupcakes, cakes and desserts. Our treats are as deliciously wholesome as they are beautifully decorated. Choose from our signature cupcakes, weekly and holiday specials or custom created desserts.</p>
            <img class="about-store-image" src="../images/photo1jpg.jpeg">
            <p>Piece of Cake Bakery offers a homestyle bakery experience in the Washington area. Our vision is to create upscale, quick-serve bakery with a focus on simple and satisfying souther style desserts and baked goods. Our philosophy is to offer simple and delicious desserts that are easily accessible to clients via location or delivery options. Our ingredients are high quality; each dessert is carefully made with only the finest, all-natural ingredients.</p>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Piece of Cake</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.twitter.com" target="_blank">
                            <img src="../images/2-27646_twitter-logo-png-transparent-background-logo-twitter-png.png" width="25px" height="25px" alt="twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com" target="_blank">
                            <img src="../images/Yelp-Logo.png" width="40px" height="25px" alt="yelp">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="../images/Facebook-logo.png" width="40px" height="25px" alt="facebook">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>