<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://checkout.stripe.com/checkout.js" defer></script>
  <script>
      var stripePublicKey = '<%= stripePublicKey %>'
  </script>
  <script src="store.js" defer></script>
  <title>Piece of Cake Store</title>
</head>

<body>
  <header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="store.html">Store</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <h1 class="band-name band-name-large">Piece of Cake Store</h1>
</header>

  <main class="d-flex min-vh-100">
    <div class="container content-section">
      <h2 class="section-header">Bakery</h2>
      <div class="row ">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/chocolatealmondcroissant.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chocolate Almond Croissant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Order</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/maplebar.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maple Bar</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/baguette.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Baguette</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/brownies.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Brownie</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/cakedonuts.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cake Donut</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/croissant.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Croissant</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/scones.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blueberry Lemon Scone</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/sourdoughloaf.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sourdough Loaf</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/cupcake.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chocolate Cupcake</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    
  </main>