* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: #777;
}

html, body {
    margin: 8%;
    margin-top: 2%;
    padding: 0;
    min-height: 100%;
    background-color: wheat;
}

body {
border: 4px solid black;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    margin: 10px auto 10px auto;
}

.nav a {
    display: inline-block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("../../images/intro-1601499029.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    border-bottom: 4px solid black;
}
.store-name {
    text-align: center;
    margin: 0;
    font-size: 64px;
    font-family: "Cormorant";
    font-weight: normal;
    color: #FAFAF2; 
    opacity: .65;
}

.store-name-large {
    font-size: 128px;
}

.content-section {
    margin: 16px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}
.section-header {
    font-family: "Cinzel";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 40px;
}

.about-store-image {
    /* float: left; */
    height: 400px;
    width: 400px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #FEF9E3;
    color: white;
    padding: 2px 0;
    border-top: 4px solid black
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 4px;
}

/* .footer-nav img {
    width: 6%;
    height: 6%;
} */
.btn {
    text-align: center;
    vertical-align: middle;
    padding: 11px 11px;
    cursor: pointer;
}

.btn-header {
    text-align: center;
    margin: 8px 15% 32px 15%;
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 24px;
    font-weight: lighter;
    padding-left: 32px;
    padding-right: 32px;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 64px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: white;
}






.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.carousel {
    text-align: center;
    margin: 0;
    font-size: 64px;
    font-family: "Cormorant";
    font-weight: bold;
    color: black; 
    opacity: .85;
}

.carousel-caption {
    padding-bottom: 5%;
}

.carousel-caption h3 {
    font-size: 42px;
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    color: black;
}

.carousel p {
    font-size: 24px;
    text-shadow: 2px 2px 5px white;
    color: black;
}



.w-100 {
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .section-header {
        font-size: 2rem;
    }
    .store-name-large {
        font-size: 96px;
    }
    .d-flex {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 480px) {
    .shop-item-image {
        height: 200px;
    }
    .btn-header {
        font-size: 14px;
    }
    .about-store-image {
        height: 200px;
        width: 200px;
    }
    .section-header {
        font-size: 2rem;
    }
    .store-name-large {
        font-size: 48px;
    }
    .d-flex {
        flex-direction: column-reverse;
    }
    .cart-item-image {
        width: 50px;
    }
    .cart-row {
        font-size: 0.6rem;
    }
    .btn-danger {
        font-size: 0.5rem !important;
    }
    .cart-quantity-input {
        margin-left: 10px;
        width: 30px;
    }
    .main-nav li {
        padding: 0;
    }
    .cart-item-title {
        font-size: 0.5rem;
    }
}